# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Test/Lint Cache
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log